version: 0.1

log:
  accesslog:
    disabled: false
  level: info
  formatter: text
  fields:
    service: registry
    environment: production

storage:
  filesystem:
    rootdirectory: /var/lib/registry
  delete:
    enabled: true
  cache:
    blobdescriptor: inmemory

http:
  addr: :5000
  headers:
    X-Content-Type-Options: [nosniff]
  # Uncomment if you want TLS
  #tls:
  #  certificate: /certs/local.crt
  #  key: /certs/local.key

# Pull-through caching for images that are not present locally
proxy:
  remoteurl: https://registry-1.docker.io
  ttl: 168h
