name: Build and Push Images

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-runner-images:
    runs-on: [self-hosted, swarm]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build runner image
        run: |
          docker build -t registry.itslit/library/github-runner:latest ./Images/Runner
          docker push registry.itslit/library/github-runner:latest

      - name: Build autoscaler
        run: |
          docker build -t registry.itslit/library/runner-autoscaler:latest ./Images/RunnerAutoscaler
          docker push registry.itslit/library/runner-autoscaler:latest

  build-php-images:
    runs-on: [self-hosted, swarm]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build ItsLit API
        run: |
          docker build -t registry.itslit/library/api:latest ./Images/PHPServer/API
          docker push registry.itslit/library/api:latest

      - name: Build Game API
        run: |
          docker build -t registry.itslit/library/gapi:latest ./Images/PHPServer/gapi
          docker push registry.itslit/library/gapi:latest
      
      - name: Build RPG Site
        run: |
          docker build -t registry.itslit/library/rpgsite:latest ./Images/PHPServer/rpg
          docker push registry.itslit/library/rpgsite:latest

      - name: Build Website
        run: |
          docker build -t registry.itslit/library/website:latest ./Images/PHPServer/site
          docker push registry.itslit/library/website:latest